# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Coffee
  description: Recognise coffee
  version: "1.0.0"
# the domain of the service
host: api.coffee.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /products:
    get:
      summary: Coffee details
      parameters:
        - name: data
          in: query
          required: true
          type: string
      tags:
        - Products
      responses:
        200:
          description: Found matches
          schema:
            $ref: '#/definitions/Product'
        404:
          description: No matches found
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Product:
    type: object
    properties:
      product_id:
        type: string
      display_name:
        type: string
        description: Display name of product.
      description:
        type: string
        description: Description of product.
      manufacturer:
        type: string
        description: Manufacturer of product.
      image:
        type: string
        description: Image URL representing the product.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
